body {
    height: 100vh;
    background-color: rgb(224, 224, 250);
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
}

.main-content {
    display: flex;
    flex-direction: column; /* Kotak-kotak akan tersusun ke bawah */
    justify-content: space-around;
    align-items: center;
    width: 80%; /* Atur lebar container utama */
    padding: 35px;
    margin: 35px;
    border: 1px solid #ccc; /* Border untuk container utama */
    border-radius: 8px;
    background-color: #ffffff;
}

.content-box {
    background: #f4f4f4;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
